body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  font-family: "Fascinate", cursive;
}
li {
  list-style-type: none;
}

/* dashboard and header */
.projects-container {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: rgb(244, 201, 183);
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.projects-container > h2 {
  font-size: 3rem;
}
.projects-container .projects-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 2rem;
}

.projects-list li:hover {
  text-decoration: underline;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

img.profile-pic {
  border-radius: 50%;
  width: 130px;
  height: 130px;
}

img.profile-snip {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.header-container {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.header-container .search-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container .search-row .search-bar {
  display: flex;
  gap: 20px;
}
.header-container .search-row .search-bar input {
  width: 800px;
  height: 40px;
}

.header-container .search-row .profile-icon {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 30px;
}

.profile-row {
  display: flex;
  justify-content: space-between;
}

.profile-row .welcome-left {
  display: flex;
  align-items: center;
  column-gap: 30px;
  position: relative;
}
.welcome-left .hi-user {
  font-size: x-large;
}
.profile-row .welcome-right {
  display: flex;
  align-items: center;
}

.welcome-right > button {
  background-color: rgb(35, 80, 202);
  width: 130px;
  height: 50px;
  border-radius: 12px;
  color: white;
  margin-right: 20px;
  font-size: large;
  opacity: 0.6;
  transition: 0.2s;
}

.welcome-right > button:hover {
  cursor: pointer;
  font-weight: bold;
  opacity: 1;
}

/* new project or task forms */

#newProjectForm {
  border: 5px grey solid;
  border-radius: 20px;
  width: 30rem;
  position: absolute;
  background-color: aliceblue;
  padding: 1rem;
  z-index: 1;
  top: 15rem;
  left: 30rem;
  display: none;
  font-family: "Roboto", sans-serif;
}

#newProjectForm .form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

#newProjectForm .form .title-qn,
#newProjectForm .form .content-qn {
  display: flex;
  flex-direction: column;
}
#newProjectForm .form .title-qn label,
#newProjectForm .form .content-qn label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
#newProjectForm .form .title-qn input {
  border: 4px rgb(128, 185, 128) solid;
  border-radius: 5px;
  font-size: 1.3rem;
}

#newProjectForm .form .content-qn input {
  border: 4px grey solid;
  border-radius: 5px;
  font-size: 1.1rem;
  height: 5rem;
}

#newProjectForm .form .new-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#newProjectForm .form .new-buttons button {
  width: 9rem;
  height: 2rem;
  font-size: 1.4rem;
  border: 2px black solid;
  border-radius: 5px;
}

#newTaskForm {
  border: 5px grey solid;
  border-radius: 20px;
  width: 30rem;
  position: absolute;
  background-color: aliceblue;
  padding: 1rem;
  z-index: 1;
  top: 15rem;
  right: 15rem;
  display: none;
  font-family: "Roboto", sans-serif;
}

#newTaskForm .form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

#newTaskForm .form .title-qn,
#newTaskForm .form .content-qn {
  display: flex;
  flex-direction: column;
}
#newTaskForm .form .title-qn label,
#newTaskForm .form .content-qn label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
#newTaskForm .form .title-qn input {
  border: 4px rgb(128, 185, 128) solid;
  border-radius: 5px;
  font-size: 1.3rem;
}

#newTaskForm .form .content-qn input {
  border: 4px grey solid;
  border-radius: 5px;
  font-size: 1.1rem;
  height: 5rem;
}

#newTaskForm .form .new-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#newTaskForm .form .new-buttons button {
  width: 9rem;
  height: 2rem;
  font-size: 1.4rem;
  border: 2px black solid;
  border-radius: 5px;
}

/* Projects section */
.task-container {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: lightskyblue;

  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
}

.task-container .cards {
  font-family: "Roboto", sans-serif;
  grid-column: 1/2;
  grid-row: 1/2;
  border: 1px red solid;

  display: grid;
  overflow: auto;
  padding: 4px;
  grid-template-rows: repeat(2, minmax(110px, 20rem));
  grid-auto-rows: minmax(110px, 20rem);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.cards .card {
  border-left: 15px solid pink;
  border-radius: 2%;
  background-color: white;
  color: black;
  margin: 10px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
  position: relative;
}

.cards .card .title {
  font-weight: bold;
  font-size: 1.3rem;
}

.cards .card .card-action {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
}

.card-action-input input {
  margin: 5px;
  transition: transform 0.2s;
}

.card-action-input input:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* style cards which are marked */
.card[data-done="true"] {
  background-color: lightgreen;
  opacity: 0.7;
}

/* ANNOUCEMENTS */
.Annoucements {
  font-family: "Roboto", sans-serif;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;

  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Annoucements .title {
  font-weight: bold;
  font-size: 1.3rem;
  opacity: 0.7;
  margin-bottom: 2rem;
}

.Annoucements .annouce-cards {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
}

.Annoucements .annouce-cards .a-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.Annoucements .annouce-cards .a-card a-card-title {
  font-weight: bold;
  font-size: 1.2rem;
}

.Annoucements .annouce-cards .a-card a-card-content {
  text-align: center;
}

.Annoucements hr {
  width: 70%;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
